# ignore all compiled output
export/

# ignore temp files from vim
*.swp

# mac files
.DS_Store

# data processing output
log/*/output/*.png
log/*/output/*.txt

# a local file to store temporary items
.local/
